@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&family=Source+Sans+Pro:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0,0,0, 0.5);
    z-index: 10;
}

.navbar-brand{
    font-weight: 500;
}

.navlink{
    color: white !important;
    border-bottom: 1px solid transparent;
}

.nav-link:hover{
    border-bottom: 3px solid white;
}

section{
    width: 100%;
    min-height: 100vh;
}

/*Home section*/

#home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0,0), rgba(0, 0, 0,0 )), url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding-left: 100px;
    
    flex-direction: column;
}

#home p{
    position: absolute;
    top: 50%;
    font-size: 60px;
    opacity: 0;
    animation: text 3s ease-in-out;
}
#home p:nth-child(1){
    animation-delay: 0s;
}

#home p:nth-child(2){
    animation-delay: 3s;
}

#home p:nth-child(3){
    animation-delay: 6s;
}

#home p:nth-child(4){
    animation-delay: 9s;
}


@keyframes text {
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#home span{
    color: red;
}
@media screen and (max-width:576px) {
    #home p{
        font-size: 50px;
    }
    
}


/*About section*/

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff75a0;
}

.circle{
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 5px 12px rgba(0,0,0, .7);
    margin-bottom: 3%;
    margin-top: 8%;
    transition: 1s;
}

.circle img{
    position: absolute;
    height: 450px;
    top: -40%;
    left: -10%;
    border-radius: 50%;
    filter: drop-shadow(0px 30px 15px rgba(0,0,0, .4));
    transition: 1s;
}

.circle:hover{
    width: 700px;
    height: 400px;
    border-radius: 0px;
    transition: 1s;

}
.circle:hover img{
    position: absolute;
    top: -25%;
    left: -10%;
    transform: 1s;
}
.circle .content{
    opacity: 0  ;
}

.circle:hover .content{
    position: absolute;
    top: 15%;
    right: 0;
    color: white;
    width: 50%;
    padding-right: 5%;
    opacity: 1;
    transition: 1s;
}


@media screen and (max-width:576px) {
    .circle{
        width: 400px;
        height: 400px ;
        background-color: blueviolet;
        border-radius: 50%;
        position: relative;
        box-shadow: 0px 5px 12px rgba(0,0,0, .7);
        margin-bottom: 3%;
        margin-top: 8%;
        transition: 1s;
    }   
    .circle:hover img{
        position: absolute;
        top: -25%;
        left: -10%;
        transform: 1s;
    }
    
    .circle:hover{
        width: 400px;
        height: 600px;
        border-radius: 0px;
        transition: 1s;
    }   
    .circle .content{
        opacity: 0  ;
    }
    
    .circle:hover .content{
        position: absolute;
        top: 50%;
        right: 0;
        color: white;
        padding: 15px;
        width: 100%;
        opacity: 1;
        transition: 1s;
    }
    
    
}

/*Skills Section*/

#Skills{
    padding-top: 5%;
    background-color: #e5e5e5;
}

#Skills .container{
    margin-top: 6%;
    margin-bottom: 6%;
    
}
label{
    font-size: 20px;
}
.progress{
    height: 30px !important;
}
.footer-content{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
footer{
    position: absolute; 
    background-color: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: white;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}
 .socials{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 1rem 0 3rem 0 ;
 }
 .socials li{
     margin: 0 10px;
 }
 .socials a{
     text-decoration: none;
     color: #fff;
     transition: color .4s ease;
 }
.social a i{
    font-size: 1.1rem;
}
.social a:hover i{
    color: aqua;
}

.footer-bottom{
    background-color: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    color: red;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 200;
}


/*Pricing*/
#pricing{
    padding-top: 5%;

}
.card{
    margin-top: 15%;
}
.card:hover{
    box-shadow: 8px 8px 15px rgba(0, 0, 0,.4 );
    transition: .8;
}